<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Established Weight</title>
</head>
<style>h1{color: rgba(0, 110, 255, 0.897);}

  body{background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-image: url({{ url_for('static', filename='fisherman2.jpg') }})
  }

  body{padding-left: 50px;
        padding-top: 50px;}
  
  
  </style>
  <body>
    <h1>Estimation Fish Weight</h1><br>
    <h3>Estimated weight of your: {{prediction}} gram</h3>

    
</body>
</html>